*{
padding: 0;
margin: 0;
box-sizing: border-box;

}

body{
    background-color: #ccc;
}
.container{
    max-width: 900px;
    margin: 0 auto;
}
.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
    border-radius: 10px;
}
.small{
    font-size: 20px;
}
.form-cont{
    margin-top: 20px;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) );
gap: 20px;
}
.form-control{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 15px;
    margin-bottom: 5px;
}
input, select, textarea{
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}
input:focus{
outline-color: red;
}
.button-container{

    display: flex;
    justify-content: end;
    margin-top: 20px;

}
button{
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 7px;
    color: white;
    border-radius: 7px;
    transition: 0.3s ease-in;
}
button:hover{
    background-color: grey;
    border: 2px solid orangered;
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
}
.address-cont{
    grid-column: 1/span 2;
}
.address-cont textarea{

    width: 100%;
}
@media (max-width: 466px){
    .address-cont{
        grid-column: 1/span 1;
    }

}