html, body {
height: 100%;
margin: 0;
font-size: 16px;
font-family: "lato", sans-serif;
font-weight: 400;
line-height: 1.8em;
color: #666;
}
.pimg1{
     background-image: url(images/image1.png);
     min-height: 100%;
}
.pimg2{
     background-image: url(images/image2.png);
     min-height: 400px;
}
.pimg3{
     background-image: url(images/image3.png);
     min-height: 400px;
}

.pimg1, .pimg2, .pimg3{
     position: relative;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
}
.ptext{

     position: absolute;
     top: 50%;
     width: 100%;
     text-align: center;
     color: black;
     font-size: 27px;
     letter-spacing: 8px;
     text-transform: uppercase;
}
.textbg{
     background-color: #313534;
     color: #fff;
     padding: 15px;

}
.section{
     padding: 50px 80px;
     text-align: center;
}
.section-lite{
     background-color: #f4f4f4;
     color: #666;
}
.section-dark{
     background-color: #282e34;
     color: #ddd;
}

.sectio