*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
background-color: #E5E5FD;
min-height: 100vh;
border: 10px solid #1D1E4C;
}
.content{
max-width: 900px;
margin: 0 auto;
}

.top-section{
    margin-top: 100px;
    display: flex;
    align-items: flex-end;
}
.top-section h1 {
    margin-left: 50px;
    margin-top: 50px;
    font-size: 50px;
    font-weight: bold;
    color: #1D1E4C;
    text-transform: uppercase;
   
}
.top-section h4 {
    font-size: 30px;
padding-bottom: 50%;
text-align: end;

}

.image_container{
    border-radius: 50%;
    overflow: hidden;
}
.image_container, img{

    width: 300px;
    height: 320px;
}
.About-Us{
margin-top: 50px;

}
.About-Us h2 {

    font-size: 40px;
    font-weight: 400;
    margin-bottom: 20px;
}

.About-Us p{

    font-size: 20px;
    text-align: justify;
    line-height: 30px;
    letter-spacing: 1px;
}
.bio{
margin: 30px 0;
}
.bio h3{
    margin-bottom: 20px;
    font-size: 20px;

}
.bio ul{
margin-left: 50px;
    text-align: justify;
}
.bio li{
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}

footer{
    text-align: end;
    margin: 50px 0;
}