
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
html, body{

    line-height: 1.4;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

.hero-section{

    background-image: url(images/developer.png);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.text_container{
    color: white;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 34px;
    padding-left: 16px;
}

.lg-txt{
    font-size: 62px;
    font-weight: 400;
}

.blackbox{

    background-color: black;
    padding: 20px;
}

.blackbox h2 {
    font-weight: 300px;
    font-size: 72px;
    color: white;
    text-align: center;

}

.blackbox h2 span{
    font-weight: 400px;
    font-size: 96px;
}

.work{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    margin: 50px auto;
    max-width: 1100px;
}

.card{
    max-width: 320px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgba(1,1,1,0.2);
    transition: 0.3s ease-in-out;
}

.grid-item{

    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover{
transform: scale(1.04);
box-shadow: 3px 5px 5px rgba(1,1,1,0.2);
transition: 0.3s ease-in-out;
}

.card-content{
    padding: 20px;
}
.card-content h3{
    margin-bottom: 10px;
}

.bottom-section{
    display: flex;
}

.contact{
    background-color: #515603;
}

.about{
    background-color: #722300;
}

.contact, .about{
    min-height: 300px;
    padding: 32px;
    color: white;

}

.contact p, .about p{
    margin-bottom: 20px;

}

.contact h2, .about h2{
    font-size: 64px;
    font-weight: 300;

}

footer{
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    padding: 20px;

}

@media (max-width: 786px){
.hero-section{
    min-height: 50vh;
}
.text_container{
    padding: 10px;
    text-align: center;
}
.lg-txt{

    font-size: 32px;
}
.blackbox h2{
    font-size: 24px;
}

.blackbox h2 span{
    font-size: 32px;
    font-weight: 300;
}
.bottom-section{
    flex-direction: column;
}
}